.top-menu {
  background-color: #610e6c;
  height: 40px;
  display: flex;
  justify-content: center;
}

.top-menu ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.top-menu li {
  margin: 0 10px;
}

.top-menu a {
  color: white;
  text-decoration: none;
}

.top-menu a:hover {
  text-decoration: underline;
}

body {
  background-image: url(/pexels-anete-lusina-6331086.jpg); /* Fixed the typo in the background-image property */
  background-position: center;
  background-size: cover;
}

.top-box {
  background-color: #dda0dd80;
  border: none;
  padding: 2px;
  height: 100px;
  width: 550px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-box h1 {
  text-align: center;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.top-box p {
  text-align: center;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container .inner-container {
  margin: 0 auto;
  background-color: #a63a928c;
  padding: 30px;
  display: flex;
}

.container1 {
  background-color: #610e6c;
  padding: 30%;
  display: flex;
}
