body {
  margin: 0;
  padding: 0;
}

/* Styles for the header and navigation bar */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #c40cb870;
  z-index: 1;
}

#navbar {
  display: flex;
  justify-content: space-between; /* Adjusted from justify to space-between */
  align-items: center;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  margin: 0 10px;
}

#navbar li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  font-family: fantasy;
}

#navbar li a:hover {
  background-color: #555;
}

/* New styles for alignment */
#navbar-left {
  display: flex;
  align-items: left;
}

#username {
  font-weight: bold;
  color: #fff;
  margin-right: 10px;
}

#search-container {
  display: flex;
  align-items: right;
}

#search-bar {
  padding: 5px;
}

#navbar-right {
  display: flex;
  align-items: center;
}

#navbar-right input[type="search"] {
  padding: 5px;
  margin-right: 10px;
  margin-left: auto; /* Added to push the search bar to the right */
}

/* Other styles */
#content {
  position: relative;
  z-index: 2;
  margin-top: 80px; /* Add margin to content to offset fixed header */
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 1440px;
}
